<!DOCTYPE html>
<html lang ="en">
<head>
		<meta charset = "UTF-8">
		<title>Title </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title>Website</title>
    	<link rel="stylesheet" href="main.css">
</head>
<body>

	<div class="container">
        <section>
            <h1>Automated Keyword Quiz</h1>
            <h3>Instructions:</h3>
            <p class="subhead">At first glance the word “titles” in the first panel looked like “titties” to me. It jumped right off the page, for some reason. I prefer not to think to hard about the psychology of it, but this is a phenomenon I could have used for marketing purposes – I could have loaded my comics with words that looked like dirty words. Sure, readers would be disappointed to find it was about a trip to Virginia, but by then they’d have read the whole thing.

			A long time ago Missy and I were both involved with a live show in the Seattle that involved prep work, and watching previous shows on video. As such, we had a videotape that pretty much lived on the TV stand labeled with the show’s name, “Twisted Flicks.”

			One day my mother came to visit, and as we sat in the living room talking I noticed that her eyes kept darting over to the videotape. The label on the spine was hand-written, and in all caps.  </p>
        </section>
    </div>


	<div class="TextField">
		<form name = "search" action = "/show" method = "POST">
			<label> Text: </label> 
  			<input type="text" id="pin" name="txt"  size=70>
			<input type = "submit" value = "submit">
		</form>
	<div>
</body>
</html>
